<h1>About Me...</h1>

<a href=''> text </a>
<ul>
	<li></li>
</ul>

<img border:10px solid black; src="https://lh6.googleusercontent.com/-9l624eggQJ0/ThxwhbEtuzI/AAAAAAAAAGE/83rnMyTotEs/w538-h536-no/Twitterphoto1.jpg">

<img src='/assets/jake-edens-myspace.jpg'>
<h3>Jake Eden's behind the music...</h3>
<h5>	By their senior year in high school, Jake and the Snakes had signed a deal with Columbia records. Their hit song, "Boom!" had taken off in the UK, but meanwhile the band had a falling out over a girl that Jake stole from the band's drummer, Mitch. </h5>